.Home {
  height: 100%;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    button {
      border-radius: 1em;
      font-size: 3em;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 6em;
      margin: 0.5em;
      flex: 1;

      img {
        width: 4em;
        height: 4em;
      }
    }
  }
}
