.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 12em;
  div {
    flex: 1;
    display: flex;
    flex-direction: row;

    button {
      border-radius: 1em;
      font-size: 3em;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80%;
      margin: 0.5em;

      img {
        width: 4em;
        height: 4em;
      }
    }
  }
}
