.SecondPage {
  position: absolute;
  left: 32%;
  top: 45%;
  height: 100%;
  margin-left: -150px;
  text-align: center;
  font-size: calc(20px + 2vmin);
  color: white;

  @media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    left: 41%;
  }

  & .yesno {
    flex-direction: row;
    margin: 10px;
  }
}
