.Whoareyou {
  text-align: center;
  img {
    width: 80%;
  }
}

.Whoareyou2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0 30%;
  text-align: center;
  font-size: 4vw;
  color: black;
}
